<!DOCTYPE HTML>
<html manifest="/cache.manifest">
<head>
    <title>Html5OfflineStorage</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="angular.min.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
    <script src="maincontroller.js" type="text/javascript"></script>
</head>
<body>
<div id='content' ng-app='WebStorage' ng-controller='MainController'>
    <button ng-click="onClickWipeLocalStorageBtn()">Wipe Local Storage (if you're having issues)</button>
    <h1>Parcel Data</h1><table>
        <tr>
            <th>ID</th>
            <th>Size</th>
            <th>Date of Change</th>
            <th>Area</th>
            <th>Cover / Use / BPS?</th>
            <th>Proposed Cover</th>
            <th>Proposed Use</th>
            <th>Proposed BPS use?</th>
            <th>Changed?</th>
        </tr>
        <tr ng-repeat='parcel in parcels.parcels'>
            <td>{{parcel.id}}</td>
            <td>{{parcel.size}}</td>
            <td>{{parcel.dateOfChange}}</td>
            <td>{{parcel.area}}</td>
            <td>{{parcel.cover}} / {{parcel.use}} / <input type="checkbox" ng-model="parcel.includedInBpsClaim" disabled></td>
            <td>
                <select ng-model='parcel.newCover' ng-options='cover as cover for cover in covers.covers'></select>
            </td>
            <td>
                <select ng-model='parcel.newUse' ng-options='use as use for use in uses.uses'></select>
            </td>
            <td><input type="checkbox" ng-model="parcel.newIncludedInBpsClaim"></td>
            <td ng-class="{greenCell: isParcelChanged(parcel), redCell: !isParcelChanged(parcel)}">&nbsp;</td>
        </tr>
    </table>
    <span ng-if="!offlineMode">
        <p>You are currently using live data.</p>
        <p>
            Feel free to make changes, and save them to the live system. Or you
            can save a copy of the data and go offline (and then disable your WiFi).
        </p>
        <button ng-click="onClickResetBtn()">Reset Table</button>
        <button ng-click="onClickSaveBtn()">Save to live data</button>
        <button ng-click="onClickTakeOfflineBtn()">Save copy of data locally and go offline</button>
    </span>
    <span ng-if="offlineMode">
        <p>You are currently using data stored locally.</p>
        <p>
            This should work without needing a network connection. Use the Update Local button to store any changes
            locally (you should even be able to quit and restart your browser and still retain your changes).
            When you re-enable your WiFi, click the Upload button to save the changes to the server and wipe
            your local data store.&NonBreakingSpace;
        </p>
        <button ng-click="onClickResetBtn()">Reset Table to originally downloaded version</button>
        <button ng-click="onClickTakeOfflineBtn()">Update local</button>
        <button ng-click="onClickWipeOfflineBtn()">Abandon local and go online</button>
        <button ng-click="onClickUploadAndGoOnlineBtn()">Upload and go online</button>
    </span>
</div>
</body>
</html>